.card_div{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media (max-width: 820px){
    .card_div{
        flex-flow: column;
        flex-wrap: nowrap;
    }
}